.book-details-container > .css-mhc70k-MuiGrid-root {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.book-item {
    background-color: #FEFAE0;
}

.book-item.css-1oqqzyl-MuiContainer-root {
    margin-top: 16px;
}

.book-item.css-1oqqzyl-MuiContainer-root {
    max-width: 800px;
    min-width: 400px;
}